.root {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.link {
  color: #cfcece;
  margin: 0 8px;
}
.link:hover {
  color: #fff;
}
.divider {
  color: #444;
}
.activeLink {
  color: #277763;
  margin: 0 8px;
  font-weight: bold;
}
